In [1]:
import pandas as pd

# Preprocessing
ratings_df = pd.read_csv('./data/ratings.dat', sep='::', header=None, engine='python')

ratings_df.columns = ['UserID', 'MovieID', 'Rating', 'Timestamp']
ratings_df.head()

   UserID  MovieID  Rating  Timestamp
0       1     1193       5  978300760
1       1      661       3  978302109
2       1      914       3  978301968
3       1     3408       4  978300275
4       1     2355       5  978824291

In [5]:
user_rating_df = ratings_df.pivot(index='UserID', columns='MovieID', values='Rating')
norm_user_rating_df = user_rating_df.fillna(0)/5.0

norm_user_rating_df.head()

MovieID  1     2     3     4     5     6     ...  3947  3948  3949  3950  3951  3952
UserID                                       ...
1         1.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
2         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
3         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
4         0.0   0.0   0.0   0.0   0.0   0.0  ...   0.0   0.0   0.0   0.0   0.0   0.0
5         0.0   0.0   0.0   0.0   0.0   0.4  ...   0.0   0.0   0.0   0.0   0.0   0.0

[5 rows x 3706 columns]

In [0]:
import tensorflow as tf

train_x, test_x = tf.split(norm_user_rating_df.to_numpy().astype('float32'), 2)

train_dataset = tf.data.Dataset.from_tensor_slices(train_x)
train_dataset = train_dataset.shuffle(buffer_size=3020).batch(20)

test_dataset = tf.data.Dataset.from_tensor_slices(test_x)
test_dataset = test_dataset.shuffle(buffer_size=3020).batch(20)

In [0]:
from rbm_model import RBM

epochs = 12
alpha = 0.01

model = RBM(len(user_rating_df.columns), 128)

def run(dataset, train=True):
    for step, batch in enumerate(dataset):
        loss = model.train(batch, alpha) if train else model.evaluate(batch)
        
        if step % 20 == 0:
            print('step %s: loss = %s' % (step, loss))

In [20]:
for epoch in range(epochs):
    print('Start of epoch %d' % (epoch,))
    run(train_dataset)

Start of epoch 0
step 0: loss = tf.Tensor(0.48841065, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.12576094, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.23763466, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.20356342, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.1908678, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.13451593, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.1967901, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.12215166, shape=(), dtype=float32)
Start of epoch 1
step 0: loss = tf.Tensor(0.13293847, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.05980464, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.11925797, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.13031788, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.1087631, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.096595794, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.09954508, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.096624404, shape=(), dtype=float32)
Start of epoch 2
step 0: loss = tf.Tensor(0.076519705, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.10446143, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.15114412, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.10820562, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.07170319, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.09668592, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.081906654, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.08426337, shape=(), dtype=float32)
Start of epoch 3
step 0: loss = tf.Tensor(0.08028765, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.06842202, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.043421485, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.09826715, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.058936335, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.07344037, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.06522504, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.07316083, shape=(), dtype=float32)
Start of epoch 4
step 0: loss = tf.Tensor(0.07172369, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.054084193, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.07202321, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.048015114, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.057045877, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.10373558, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.07211982, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.07330061, shape=(), dtype=float32)
Start of epoch 5
step 0: loss = tf.Tensor(0.06327577, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.0428721, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.077192664, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.07028927, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.09002538, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.08011226, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.053275775, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.07684783, shape=(), dtype=float32)
Start of epoch 6
step 0: loss = tf.Tensor(0.06150081, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.08313871, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.060008634, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.0436476, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.071208864, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.0507075, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.047382623, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.07549163, shape=(), dtype=float32)
Start of epoch 7
step 0: loss = tf.Tensor(0.03882299, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.0547809, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.055337835, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.043352403, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.046672963, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.065737724, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.058551013, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.06791042, shape=(), dtype=float32)
Start of epoch 8
step 0: loss = tf.Tensor(0.059230447, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.0488462, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.056792773, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.060608752, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.048737727, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.06962872, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.054148406, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.051216412, shape=(), dtype=float32)
Start of epoch 9
step 0: loss = tf.Tensor(0.06420562, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.04403724, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.03656935, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.060242318, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.04345116, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.06339667, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.047225583, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.050964385, shape=(), dtype=float32)
Start of epoch 10
step 0: loss = tf.Tensor(0.045169458, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.034245007, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.053755533, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.047386944, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.04861792, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.041371837, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.049718298, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.029751215, shape=(), dtype=float32)
Start of epoch 11
step 0: loss = tf.Tensor(0.059311934, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.039027523, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.04014733, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.03717863, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.03103508, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.0804204, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.03582407, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.0604598, shape=(), dtype=float32)

In [10]:
# Evaluation
run(test_dataset, train=False)

step 0: loss = tf.Tensor(0.065865636, shape=(), dtype=float32)
step 10: loss = tf.Tensor(0.058459807, shape=(), dtype=float32)
step 20: loss = tf.Tensor(0.047166757, shape=(), dtype=float32)
step 30: loss = tf.Tensor(0.04707501, shape=(), dtype=float32)
step 40: loss = tf.Tensor(0.051068544, shape=(), dtype=float32)
step 50: loss = tf.Tensor(0.06907609, shape=(), dtype=float32)
step 60: loss = tf.Tensor(0.054579068, shape=(), dtype=float32)
step 70: loss = tf.Tensor(0.043084733, shape=(), dtype=float32)
step 80: loss = tf.Tensor(0.05219104, shape=(), dtype=float32)
step 90: loss = tf.Tensor(0.059803564, shape=(), dtype=float32)
step 100: loss = tf.Tensor(0.07351809, shape=(), dtype=float32)
step 110: loss = tf.Tensor(0.05142202, shape=(), dtype=float32)
step 120: loss = tf.Tensor(0.06538803, shape=(), dtype=float32)
step 130: loss = tf.Tensor(0.04166271, shape=(), dtype=float32)
step 140: loss = tf.Tensor(0.060998928, shape=(), dtype=float32)
step 150: loss = tf.Tensor(0.042090666, shape=(), dtype=float32)

In [11]:
movies_df = pd.read_csv('./data/movies.dat', sep='::', header=None, engine='python')
movies_df.columns = ['MovieID', 'Title', 'Genres']

movies_df.head()

   MovieID                               Title                        Genres
0        1                    Toy Story (1995)   Animation|Children's|Comedy
1        2                      Jumanji (1995)  Adventure|Children's|Fantasy
2        3             Grumpier Old Men (1995)                Comedy|Romance
3        4            Waiting to Exhale (1995)                  Comedy|Drama
4        5  Father of the Bride Part II (1995)                        Comedy

In [15]:
# Test the model with a mock case
mock_user_id = 176

inputUser = tf.reshape(train_x[mock_user_id - 1], (1, -1))
recommended = model.predict(inputUser)

# List of movies recommended to user 176
scored_movies_df_mock = movies_df[movies_df['MovieID'].isin(user_rating_df.columns)]
scored_movies_df_mock = scored_movies_df_mock.assign(RecommendationScore = recommended[0])

scored_movies_df_mock.head()

   MovieID  ... RecommendationScore
0        1  ...                 0.0
1        2  ...                 0.0
2        3  ...                 0.0
3        4  ...                 0.0
4        5  ...                 0.0

[5 rows x 4 columns]

In [16]:
scored_movies_df_mock.sort_values(["RecommendationScore"], ascending=False).head()

      MovieID  ... RecommendationScore
3397     3466  ...                 1.0
3141     3210  ...                 1.0
220       223  ...                 1.0
2728     2797  ...                 1.0
2727     2796  ...                 1.0

[5 rows x 4 columns]